{% extends "base.html" %}

{% block content %}
<head>
<section class="section">
<div id=box class="box">
	<figure id="figure" class="image is-5by3">
		<img src="{{image}}" usemap="#salle">
	<progress id="progressBarre" style="font-size:2em; position:absolute; box-shadow: 0 0 10px black; top:50px; left:50%; transform:translate(-50%, -50%); width:40%; height:3.5%;" class="progress is-danger" value="0" max="100">0%</progress>
			
	<div id="countdownExample">
		<div style="font:1.5em Bradley Hand, cursive; font-weight: bold; text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; position:absolute; top:90px; left:50%; transform:translate(-50%, -50%); color:white;">
			<p>00:00</p>
		</div>
	</div>
		<button disabled style="font:1.3em Bradley Hand, cursive; font-weight: bold; box-shadow: 0 0 10px black; position:absolute; top:96%; left:40%; transform:translate(-50%, -50%); width:18%;" onclick="pauseEscapeGame()" class="button is-info is-selected">   PAUSE  </button>
		<button disabled style="font:1.3em Bradley Hand, cursive; font-weight: bold; box-shadow: 0 0 10px black; position:absolute; top:96%; left:60%; transform:translate(-50%, -50%); width:18%;" onclick="abandonner()" class="button is-danger">ABANDONNER</button>
			<style>
			#mydiv {
				position: absolute;
				top: 20em; left: 30em;
			}

			#mydivheader {
				cursor: move;
			}
			</style>
			<div id="mydiv">
				 <div id="mydivheader">
					<figure class="image is-96x96">
						<img src="https://zupimages.net/up/21/07/f9ww.png">
					</figure>
				</div>
			</div>
			<script>
			dragElement(document.getElementById("mydiv"));

			function dragElement(elmnt) {
				var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
				if (document.getElementById(elmnt.id + "header")) {
					document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
				} else {
					elmnt.onmousedown = dragMouseDown;
				}

				function dragMouseDown(e) {
					e = e || window.event;
					e.preventDefault();
					pos3 = e.clientX;
					pos4 = e.clientY;
					document.onmouseup = closeDragElement;
					document.onmousemove = elementDrag;
				}

				function elementDrag(e) {
					e = e || window.event;
					e.preventDefault();
					pos1 = pos3 - e.clientX;
					pos2 = pos4 - e.clientY;
					pos3 = e.clientX;
					pos4 = e.clientY;
					var form = document.getElementById("formulaire")
					elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
					elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
					form.coordx.value = (elmnt.offsetLeft - pos1);
					form.coordy.value = (elmnt.offsetTop - pos2);
				}

				function closeDragElement() {
					document.onmouseup = null;
					document.onmousemove = null;
				}
			}
			</script>
	</figure>
</div>
</section>
</head>

<br>
<div class="column is-4 is-offset-4">
	<div class="box">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
	<h3 class="title has-text-grey-dark" style="text-align: center;">Section - Question</h3>
	<form id="formulaire" method="POST" action="/ajouter_question_post">
			<input id="salleid" name="salleid" type="hidden" value="{{salleid}}" runat="server">
			<input id="escapegameid" name="escapegameid" type="hidden" value="{{escapegameid}}" runat="server">
			<input id="coordx" name="coordx" type="hidden" value="" runat="server">
			<input id="coordy" name="coordy" type="hidden" value="" runat="server">
			<div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="titre" placeholder="Choisir le titre" autofocus="">
                </div>
                <br>
                <div class="control">
                    <input class="input is-large" type="text" name="contenu" placeholder="Indiquez votre question" autofocus="">
                </div>
            </div>
	</div>
	<div class="box">
		<h3 class="title has-text-grey-dark" style="text-align: center;">Section - Réponse</h3>
		<div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="texte" placeholder="Indiquez votre réponse" autofocus="">
                </div>
                <br>
                <div class="control">
					<div class="select">
						<select name = "question">
							<option>Indiquez si votre réponse est juste ou non</option>
							<option>Oui</option>
							<option>Non</option>
						</select>
					</div>
				</div>
            </div>
	</div>
		<button class="button is-block is-info is-large is-fullwidth">Créer</button>
	</form>
</div>
{%endblock%}