{% extends "base.html" %}

{% block content %}
<head>
<section class="section">
<div class="column is-4 is-offset-4">
	<h3 class="title" style="text-align: center;">Ajouter une réponse</h3>
	<div class="box">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
	<form id="formulaire" method="POST" action="/ajouter_reponse_post">
			<input id="salleid" name="salleid" type="hidden" value="{{salleid}}" runat="server">
			<input id="escapegameid" name="escapegameid" type="hidden" value="{{escapegameid}}" runat="server">
			<input id="questionid" name="questionid" type="hidden" value="{{questionid}}" runat="server">
		<div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="texte" placeholder="Indiquez votre réponse" autofocus="">
                </div>
                <br>
                <div class="control">
					<div class="select">
						<select name = "question">
							<option>Indiquez si votre réponse est juste ou non</option>
							<option>Oui</option>
							<option>Non</option>
						</select>
					</div>
				</div>
            </div>
	</div>
		<button class="button is-block is-info is-large is-fullwidth">Créer</button>
	</form>
</div>
{%endblock%}