{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Ajouter une salle</h3>
	<div class="box">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
	<form method="POST" action="/ajouter_salle_post">
			<input id="escapegameid" name="escapegameid" type="hidden" value="{{id}}" runat="server">
			<div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nomSal" placeholder="Choisir un nom" autofocus="">
                </div>
                <br>
                <div class="control">
                    <input class="input is-large" type="text" name="nomSalPrec" placeholder="Choisir salle précédente" autofocus="">
                </div>
				<br>
				<div class="control">
                    <input class="input is-large" type="text" name="imageSal" placeholder="URL de l'image de fond" autofocus="">
                </div>
            </div>
              <button class="button is-block is-info is-large is-fullwidth">Créer</button>
       </form>
    </div>
    </div>
{%endblock%}