{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Modifier son mot de passe</h3>
    <div class="box">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
        <form method="POST" action="/changePW">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="old" name="old" placeholder="Ancien mot de passe" autofocus="">
                </div>
                <br>
                <div class="control">
                    <input class="input is-large" type="new" name="new" placeholder="Nouveau mot de passe" autofocus="">
                </div>

            </div>
              <button class="button is-block is-info is-large is-fullwidth">Modifier</button>
        </form>
    </div>
    </div>
{%endblock%}
