{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Salle : {{nom}}
</h1>
<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>
<a href="/panel/escapegame/{{escapegameid}}/salle/{{salleid}}/ajouter_question/">
  <button class="button is-block is-info is-large is-fullwidth">Créer une question</button>
</a>
<hr>
{% for question in questions %}
  <div class="box">
		<a href="/panel/escapegame/{{escapegameid}}/salle/{{ salleid }}/question/{{ question['id'] }}">
			<h2 class="title is-1 has-text-grey-dark">Question {{ question['id'] }}:</h2>
			<h2 class="subtitle has-text-grey-dark">
				{{ question['titreQ'] }}
			</h2>
		</a>
		<br>
			<div class="notification is-danger">
				<div class="columns">
					<div class="column">
						<ul>
						{% for reponse in reponses %}
						{% for rattacher in rattachers %}
							{% if rattacher['question_id'] == question['id'] and rattacher['reponse_id'] == reponse['id'] %}
								<button class="button is-rounded"><strong>Réponse :</strong>{{ reponse['texteR'] }}</button>
							{% endif %}
						{% endfor %}
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<form method="POST" action="/supprimer_question">
			<input type = "hidden" name = "id" value = "{{ question['id'] }}"/>
			<input type = "hidden" name = "escapegameid" value = "{{escapegameid}}"/>
			<input type = "hidden" name = "salleid" value = "{{salleid}}"/>
			<div class="columns">
				<div class="column">
					<button class="button is-danger is-outlined">Supprimer</button>
				</div>
			</div>
			</form>
  </div>
{% endfor %}
{% endblock %}
