{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{titre}}
</h1>
<h2 class="subtitle">
  Question : {{contenu}}
</h2>
<a href="/panel/escapegame/{{escapegameid}}/salle/{{salleid}}/question/{{questionid}}/ajouter_reponse">
  <button class="button is-block is-info is-large is-fullwidth">Créer une réponse</button>
</a>
<hr>
{% for reponse in reponses %}
  <div class="box">
			<h2 class="title is-1 has-text-grey-dark">Réponse {{ reponse['id'] }}:</h2>
			<h2 class="subtitle has-text-grey-dark">
				{{ reponse['texteR'] }}
			</h2>
		<br>
			<div class="notification is-danger">
			</div>
			<form method="POST" action="/supprimer_reponse">
			<input type = "hidden" name = "id" value = "{{ reponse['id'] }}"/>
			<input type = "hidden" name = "escapegameid" value = "{{escapegameid}}"/>
			<input type = "hidden" name = "salleid" value = "{{salleid}}"/>
			<div class="columns">
				<div class="column">
					<button class="button is-danger is-outlined">Supprimer</button>
				</div>
			</div>
			</form>
  </div>
{% endfor %}
{% endblock %}
