{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Édition des salles
</h1>
<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>
<a href="/panel/escapegame/{{escapegameid}}/ajouter_salle/">
  <button class="button is-block is-info is-large is-fullwidth">Créer une salle</button>
</a>
<hr>
{% for salle in salles %}
  <div class="box">
		<a href="/panel/escapegame/{{escapegameid}}/salle/{{ salle.id }}">
			<h2 class="title is-1 has-text-grey-dark">{{ salle['nomSal'] }}</h2>
		</a>
		<br>
			<div class="notification is-danger">
				<div class="columns">
					<div class="column">
					</div>
				</div>
			</div>
			<img style="box-shadow: 0 0 10px black;" src="{{ salle['image'] }}">
			<br><br>
			<form method="POST" action="/supprimer_salle">
			<input type = "hidden" name = "id" value = "{{ salle['id'] }}"/>
			<input type = "hidden" name = "escapegameid" value = "{{escapegameid}}"/>
			<div class="columns">
				<div class="column">
					<button class="button is-danger is-outlined">Supprimer</button>
				</div>
			</div>
			</form>
  </div>
{% endfor %}

{% endblock %}
