{% extends "base.html" %}

{% block content %}
<a href="/panel/escapegame/{{escapegameid}}">
	<button class="button is-block is-info is-large is-fullwidth">Modifier l'escape game</button>
</a>
{% endblock %}
