{% extends "base.html" %}

{% block content %}
<h1 class="title is-1">
  PARTIE TERMINEE
</h1>

<h2 class="title is-4" id="titre1">
</h2>

<h2 class="title is-4" id="titre2">
</h2>

<h2 class="title is-4" id="titre3">
</h2>

<script id="theScript">

  var url_string = window.location.href;
  var url = new URL(url_string);
  var nbQuestions = url.searchParams.get("nbQuestions");
  var progressBarreValue = url.searchParams.get("nbQuestionsRepondues");
  var escapegameid = url.searchParams.get("escapegameid");
  var sessionid = url.searchParams.get("sessionid");
  var timer = url.searchParams.get("timer");
  var nbQuestionsRepondues = 0;
  {% for enregistrement in enregistrements %}
	{% if enregistrement['correct'] == "Oui" %}
		nbQuestionsRepondues+=1;
	{% endif %}
  {% endfor %}
</script>

<script>
  //alert(nbQuestionsRepondues.toString());

  //var nbQuestionsRepondues = progressBarreValue * nbQuestions / 100;
  var noteFinale =  nbQuestionsRepondues * 20 / nbQuestions;
  var form = document.getElementById("formulaire")
  //var nbMauvaisesReponses = nbQuestions - nbQuestionsRepondues;


  document.getElementById("titre1").innerHTML = "Nombre de question : " + nbQuestions;
  document.getElementById("titre2").innerHTML = "Nombre de bonnes reponses : " + nbQuestionsRepondues;
  document.getElementById("titre3").innerHTML = "Note Finale : " + noteFinale;
  form.escapegameId.value = escapegameid;
  form.sessionId.value = sessionid;
  form.timer.value = timer;
  form.note.value = noteFinale;
  form.nb_questions.value = nbQuestions;
  form.nb_questions_juste.value = nbQuestionsRepondues;
  form.submit();

</script>

<form name="formulaire" method="POST" action="/note_post">
	<input id="escapegameId" name="escapegameId" type="hidden" value="" runat="server">
	<input id="sessionId" name="sessionId" type="hidden" value="" runat="server">
	<input id="timer" name="timer" type="hidden" value="" runat="server">
	<input id="note" name="note" type="hidden" value="" runat="server">
	<input id="nb_questions" name="nb_questions" type="hidden" value="" runat="server">
	<input id="nb_questions_juste" name="nb_questions_juste" type="hidden" value="" runat="server">
</form>

<br><br><br><br>
  <form method="POST" action="/groupes">
    <button class="button is-danger is-inverted">Retour</button>
  </form>
  <br>
  <!--
  <form method="POST" action="/debug_get_questions_number">
    <button class="button is-danger is-inverted">DEBUG (debug_get_questions_number)</button>
  </form>
  -->
{% endblock %}
