{% extends "base.html" %}

{% block content %}
	<h1 class="title is-1">
		Bienvenue {{ name }} !
	</h1>
	<br>
	<div class="box">
		<div class="notification is-danger">
		<h3 class="title is-3">Liste des utilisateurs :</h3>
		</div>
			<ul>
			{% for user in users %}
				<button class="button is-rounded">{{ user['nom'] }}</button>
			{% endfor %}
			</ul>
	</div>
		{% for session in sessions %}
		{% for attacher in attachers %}
			{% if session.id == attacher.session_id %}
			{% for escapegame in escapegames %}
				{% if ( (escapegame.id == attacher.escapegame_id) and (session.etatS!="Fini") )%}
				<form method="POST" action="/groupe/{{ id }}/session/{{ session['id'] }}/escapegame/{{ attacher['escapegame_id'] }}">
				<!--<a href="/groupe/{{ id }}/escapegame/{{ escapegameid }}">-->
					<div class="buttons">
						<button class="button is-primary is-inverted is-outlined is-medium is-fullwidth">{{ escapegame['nom'] }}</button>
					</div>
				<!--</a>-->
				</form>
				<br>
				{% endif %}
			{% endfor %}
			{% endif %}
		{% endfor %}
		{% endfor %}
	{% if current_user.type == "professeur" %}
	<hr>
	<a href="{{ url_for('main.session', id=id) }}">
		<button class="button is-block is-info is-large is-fullwidth">Paramétrer un Escape Game</button>
	</a>
	{% endif %}
{% endblock %}
