{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Choix des groupes
</h1>
<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>
{% if current_user.type == "professeur" %}
<form method="POST" action="/new_groupe">
  <button class="button is-block is-info is-large is-fullwidth">Créer un groupe</button>
</form>
<br>
{% endif %}
<form method="POST" action="/rejoindre_groupe">
<!--<a href="/groupe/{{ id }}/escapegame/{{ escapegameid }}">-->
	<div class="buttons">
		<button class="button is-primary is-inverted is-outlined is-medium is-fullwidth">Rejoindre un groupe</button>
		</div>
<!--</a>-->
</form>
<hr>

{% for groupe in groupes %}
  <div class="box">
		<a href="/groupe/{{ groupe.id }}">
		<h2 class="title is-1 has-text-grey-dark">{{ groupe['nom'] }}</h2>
		</a>
		<br>
			<div class="notification is-danger">
				<div class="columns">
					<div class="column">
					</div>
				</div>
			</div>
			<form method="POST" action="/supprimer_groupe">
			<input type = "hidden" name = "id" value = "{{ groupe['id'] }}"/>
			<div class="columns">
				<div class="column">
					<button class="button is-danger is-outlined">Supprimer</button>
				</div>
			</div>
			</form>
  </div>
{% endfor %}

{% endblock %}
