{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Menu principal
</h1>
<h2 class="subtitle">
  Découvrez, analysez et créez tous sortes d'escape games de façon ludique !
</h2>
<form method="POST" action="/groupes">
  <button class="button is-block is-info is-large is-fullwidth">Menu des groupes</button>
</form>
{% endblock %}
