{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
	<div class="notification is-primary">
	<h3 class="title">Escape Game</h3>
	</div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
	</div>
	<div class="box">
		<div class="notification is-danger">
			<h3 class="title is-5">Section - Escape Game</h3>
		</div>
        <form method="POST" action="/new_escapegame">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nomE" placeholder="Choisir un nom" autofocus="">
                </div>
				<div class="control">
					<label for="penaliter">Timer :</label>
					<input class="input is-large" type="number" id="timer" name="timer" min="10" max="100">
                </div>
				<div class="control">
					<label for="penaliter">Pénalité :</label>
					<input class="input is-large" type="number" id="penaliter" name="penaliter" min="1" max="20">
                </div>
			</div>
	</div>
	<div class="box">
		<div class="notification is-danger">
			<h3 class="title is-5">Section - Salle Initiale</h3>
		</div>
			<div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nomSal" placeholder="Choisir un nom" autofocus="">
                </div>
                <br>
                <div class="control">
                    <input class="input is-large" type="text" name="nomSalPrec" placeholder="Choisir salle précédente" autofocus="">
                </div>
				<br>
				<div class="control">
                    <input class="input is-large" type="text" name="imageSal" placeholder="URL de l'image de fond" autofocus="">
                </div>
            </div>
              <button class="button is-block is-info is-large is-fullwidth">Créer</button>
        </form>
    </div>
{%endblock%}
