{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
	<div class="notification is-primary">
	<h3 class="title">Elève</h3>
	</div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
	</div>
	<div class="box">
        <form method="POST" action="/new_eleve">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Choisir un email" autofocus="">
                </div>
				<br>
                <div class="control">
                    <input class="input is-large" type="password" name="password" minlength="8" placeholder="Choisir un mot de passe" autofocus="">
                </div>
				<br>
                <div class="control">
                    <input class="input is-large" type="text" name="nom" placeholder="Entrer votre nom" autofocus="">
                </div>
				<br>
                <div class="control">
                    <input class="input is-large" type="text" name="classe" placeholder="Entrer votre classe" autofocus="">
                </div>
			</div>
			<button class="button is-block is-info is-large is-fullwidth">Créer</button>
		</form>
	</div>
    </div>
{%endblock%}
