{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Créer un groupe</h3>
    <div class="box">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
        <form method="POST" action="/new_groupe_post">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nom" placeholder="Nom" autofocus="">
                </div>
            </div>
              <button class="button is-block is-info is-large is-fullwidth">Créer</button>
        </form>
    </div>
    </div>
{%endblock%}
