{% extends "base.html" %}

{% block content %}
<div class="box">
<div class="notification is-primary">
<h1 class="title is-1">
  PANEL
</h1>
</div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
	</div>
<br>
  <form method="POST" action="/init_salle">
    <button class="button is-danger is-inverted">Créer un Escape Game</button>
  </form>
  <br>
  <form id="formulaire" method="POST" action="/edit_escapegame">
      <div class="select is-danger">
        <select name = "escapegame">
            <option>Sélectionnez un escape game</option>
              {% for escapegame in escapegames %}
                <option>{{ escapegame['nom'] }}</option>
              {% endfor %}
        </select>
        <br>
          <button class="button is-rounded" name="modifier">Modifier</button>
      </div>
  </form>
  <br>
  <br>
  <br>
  <hr>
  <!--
  <form method="POST" action="/debug_get_questions_number">
    <button class="button is-danger is-inverted">DEBUG (debug_get_questions_number)</button>
  </form>
  -->
  <form method="POST" action="/init_utilisateur">
    <button class="button is-danger is-inverted">Créer un compte Elève</button>
  </form>
  <br>
  <form id="formulaire" method="POST" action="/supprimer_eleve">
      <div class="select is-danger">
        <select name = "eleve">
            <option>Sélectionnez un élève</option>
              {% for eleve in eleves %}
                <option>{{ eleve['nom'] }}</option>
              {% endfor %}
        </select>
        <br>
          <button class="button is-rounded" name="modifier">Supprimer</button>
      </div>
  </form>
{% endblock %}
