{% extends "base.html" %}

{% block content %}
	<h1 class="title is-1">
		Bienvenue {{ name}} !
	</h1>
	<br>
	<div class="box">
		<div class="notification is-danger">
		<h3 class="title is-3">Vos informations:</h3>
		</div>
			<ul>
			<li>
				<button class="button is-rounded">{{name}}</button>
			</li>
			<br>
			<li>
				{% if current_user.type == "eleve" %}
					<button class="button is-rounded">{{classe}}</button>
				{% elif current_user.type == "professeur" %}
					<button class="button is-rounded">{{discipline}}</button>
				{% endif %}
			</li>
			<br>
			<li><button class="button is-rounded">{{mail}}</button></li>
		</div>
		<form method="POST" action="/password">
			<div class="buttons">
				<button class="button is-primary is-inverted is-outlined is-medium is-fullwidth">Modifier le mot de passe </button>
			</div>
		</form>
	</div>
{% endblock %}
