{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Choisir un groupe</h3>
    <div class="box">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="notification is-danger">
				{{ messages[0] }}
			</div>
		{% endif %}
		{% endwith %}
        <form method="POST" action="/rejoindre_groupe_post">
						<input id="prodId" name="prodId" type="hidden" value="{{id}}" runat="server">
						<div class="select is-danger">
							<select name = "groupe">
								<option>Sélectionnez la liste déroulante</option>
									{% for groupe in groupes %}
										<option>{{ groupe['nom'] }}</option>
									{% endfor %}
							</select>
						</div>
						<hr>
					<button class="button is-block is-info is-large is-fullwidth">Choisir</button>
        </form>
    </div>
    </div>
{%endblock%}
