{% extends "base.html" %}

{% block content %}
<head>
	<style>
		progress:after {
		content: attr(value)'%';
		}
	</style>

	<section class="section">
		<!--<p style="font-size: 2em; "id="demo"></p>-->
		
		<div id="box" class="box">
			<figure id="figure" class="image is-5by3">
			
			<!-- Mettre {{image}} -->
			<img src="{{image}}" usemap="#salle">
			
			<progress id="progressBarre" style="font-size:2em; position:absolute; box-shadow: 0 0 10px black; top:50px; left:50%; transform:translate(-50%, -50%); width:40%; height:3.5%;" class="progress is-danger" value="{{progression}}" max="100">{{progression}}%</progress>
			
			<div id="countdownExample">
				<div style="font:1.5em Bradley Hand, cursive; font-weight: bold; text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; position:absolute; top:90px; left:50%; transform:translate(-50%, -50%); color:white;" class="values"></div>
			</div>

			<button style="font:1.3em Bradley Hand, cursive; font-weight: bold; box-shadow: 0 0 10px black; position:absolute; top:96%; left:40%; transform:translate(-50%, -50%); width:18%;" onclick="pauseEscapeGame()" class="button is-info is-selected">   PAUSE  </button>
			<button style="font:1.3em Bradley Hand, cursive; font-weight: bold; box-shadow: 0 0 10px black; position:absolute; top:96%; left:60%; transform:translate(-50%, -50%); width:18%;" onclick="abandonner()" class="button is-danger">ABANDONNER</button>
			
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

			<form id="fin_partie" method="POST" action="/fin_partie_stats">
				<input id="nbQuestions" name="nbQuestions" type="hidden" value="{{questionsNumber}}" runat="server">
				<input id="nbQuestionsRepondues" name="nbQuestionsRepondues" type="hidden" value="" runat="server">
				<input id="escapegameId" name="escapegameId" type="hidden" value="{{escapegameid}}" runat="server">
				<input id="timer" name="timer" type="hidden" value="" runat="server">
				<input id="progression" name="progression" type="hidden" value="" runat="server">
				<input id="sessionId" name="sessionId" type="hidden" value="{{sessionid}}" runat="server">
			</form>
			
			<form id="pause" method="POST" action="/pause">
				<input id="escapegameId" name="escapegameId" type="hidden" value="{{escapegameid}}" runat="server">
				<input id="timer" name="timer" type="hidden" value="" runat="server">
				<input id="progression" name="progression" type="hidden" value="" runat="server">
				<input id="sessionId" name="sessionId" type="hidden" value="{{sessionid}}" runat="server">
			</form>
			
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/dist/easytimer.min.js"></script>
			
			{% set ftotal= {'total': 0} %} 
			{% for question in questions %}
				<form id="formulaire" method="POST" action="/question_post">
					<input id="prodId" name="prodId" type="hidden" value="{{id}}" runat="server">
					<input id="sessionId" name="sessionId" type="hidden" value="{{sessionid}}" runat="server">
					<input id="escapegameId" name="escapegameId" type="hidden" value="{{escapegameid}}" runat="server">
					<input id="salleId" name="salleId" type="hidden" value="{{salleid}}" runat="server">
					<input id="questionId" name="questionId" type="hidden" value="" runat="server">
					<input id="timer" name="timer" type="hidden" value="" runat="server">
					<input id="progression" name="progression" type="hidden" value="" runat="server">
					<input id="correct" name="correct" type="hidden" value="" runat="server">
				</form>
				{% if question['etatQ'] == False %}
				<div id="mydiv{{ question['id'] }}" style="position: absolute;">
				<div id="mydivheader">
				<figure class="image is-96x96">
					<img src="https://zupimages.net/up/21/07/f9ww.png">
					<script>
						{% for coord in coords %}
							{% if coord['question_id'] == question['id'] %}
								document.getElementById("mydiv{{ question['id'] }}").style.left = ""+{{ coord['coordX'] }}+"px";
								document.getElementById("mydiv{{ question['id'] }}").style.top = ""+{{ coord['coordY'] }}+"px";
							{% endif %}
						{% endfor %}
						document.getElementById("mydiv{{ question['id'] }}").style.position = "abolute";
						document.getElementById("mydiv{{ question['id'] }}").addEventListener('click', () => {
							swal("{{ question['titreQ'] }}","{{ question['contenuQ'] }}", {
								icon: "info",
								content: "input",
								closeOnClickOutside: false,
							})
							.then((value) => {
								switch (value) {
								{% for reponse in reponses %}
								{% for rattacher in rattachers %}
									{% if rattacher['question_id'] == question['id'] and rattacher['reponse_id'] == reponse['id'] %}
										case "{{ reponse['texteR'] }}":
											{% if reponse['correct'] == "Oui" %}
												//console.log(swal("Rattacher_id : "+{{ rattacher['reponse_id'] }}+"", "Réponse_id :"+{{ reponse['id'] }}+""))
												//swal({ html: "<form action='question_post' method='post'> <input id='prodId' name='prodId' type='hidden' value='{{id}}' runat='server'> <input id='sessionId' name='sessionId' type='hidden' value='{{sessionid}}' runat='server'> <input id='escapegameId' name='escapegameId' type='hidden' value='{{escapegameid}}' runat='server'> <input id='salleId' name='salleId' type='hidden' value='{{salleid}}' runat='server'> <submit> </form>"});
												var form = document.getElementById("formulaire")
												swal({
													title: "Bonne réponse !",
													text: "Vous avez bien répondu à cette question.",
													closeOnClickOutside: false,
													icon: "success",
												}).then(function() {
													questionResolue();
													{% if ftotal.update({'total': ftotal.total + 1}) %}{% endif %} 
													form.timer.value = Object.values(timer.getTimeValues())[2];
													form.questionId.value = {{ question['id'] }};
													form.correct.value = "Oui";
													form.progression.value = document.getElementById("progressBarre").value;
													form.submit();
													//clearInterval(x);
												});
												//swal("Bonne réponse !", "Votre réponse était : {{ reponse['texteR'] }}", "success");
											{% elif reponse['correct'] == 'Non' %}
												//swal("Mauvaise réponse !", "Votre réponse était : {{ reponse['texteR'] }}", "error");
												swal({
													title: "Mauvaise réponse !",
													text: "Votre réponse était : {{ reponse['texteR'] }}",
													closeOnClickOutside: false,
													icon: "error",
												}).then(function() {
													questionResolue();
													{% if ftotal.update({'total': ftotal.total + 1}) %}{% endif %} 
													var form = document.getElementById("formulaire")
													form.timer.value = Object.values(timer.getTimeValues())[2];
													form.questionId.value = {{ question['id'] }};
													form.correct.value = "Non";
													form.progression.value = document.getElementById("progressBarre").value;
													form.submit();
												});
											{% endif %}
											break;
									{% endif %}
								{% endfor %}
								{% endfor %}
											default:
												if (value){
													//swal("Mauvaise réponse !", "Votre réponse était : "+value, "error");
													swal({
														title: "Mauvaise réponse !",
														text: "Votre réponse était :"+value,
														closeOnClickOutside: false,
														icon: "error",
													}).then(function() {
														questionResolue();
														{% if ftotal.update({'total': ftotal.total + 1}) %}{% endif %} 
														var form = document.getElementById("formulaire")
														form.timer.value = Object.values(timer.getTimeValues())[2];
														form.questionId.value = {{ question['id'] }};
														form.correct.value = "Non";
														form.progression.value = document.getElementById("progressBarre").value;
														form.submit();
													});
												}
								}
							});
						});
					</script>
				</figure>
				</div>
				</div>
				{% endif %}
			{% endfor %}

			<script>
			var timer = new Timer();
			timer.start({countdown: true, startValues: {minutes: {{timer}}}});

			$('#countdownExample .values').html(timer.getTimeValues().toString());

			timer.addEventListener('secondsUpdated', function (e) {
				$('#countdownExample .values').html(timer.getTimeValues().toString());
			});

			timer.addEventListener('targetAchieved', function (e) {
				$('#countdownExample .values').html('TERMINER !');
				var form_fin_partie = document.getElementById("fin_partie")
				swal("Temps écoulé !")
						.then((value) => {
							form_fin_partie.nbQuestionsRepondues.value = document.getElementById("progressBarre").value;
							form_fin_partie.submit();
						});
			});

			

			</script>		
			<script>
				var form_fin_partie = document.getElementById("fin_partie")

				function plus20Percent()
				{
					document.getElementById("progressBarre").value += 5;
				}

				function questionResolue()
				{
					if (document.getElementById("progressBarre").value + 100/{{questionsNumber}} > 99)
					{
						document.getElementById("progressBarre").value += 100/{{questionsNumber}};
						setTimeout(function(){swal("Vous avez terminé l'Escape Game !")
						.then((value) => {
							form_fin_partie.nbQuestionsRepondues.value = 100;
							form_fin_partie.submit();
						});}, 250);
					}
					else
					{
						document.getElementById("progressBarre").value += 100/{{questionsNumber}};
					}
				}
			</script>
			
			<script>
			
			function abandonner()
				{
					var form_fin_partie = document.getElementById("fin_partie")

					swal({
						title: "Voulez vous vraiment abandonner ?",
						text: "La progression sera perdue",
						icon: "warning",
						buttons: true,
						dangerMode: true,
						})
						.then((willDelete) => {
						if (willDelete) {
							form_fin_partie.nbQuestionsRepondues.value = document.getElementById("progressBarre").value;
							form_fin_partie.timer.value = Object.values(timer.getTimeValues())[2];
							form_fin_partie.progression.value = document.getElementById("progressBarre").value;
							form_fin_partie.submit();
						}
						});
				}	

				if (document.getElementById("progressBarre").value > 99)
					{
						swal("Vous avez terminé l'Escape Game !")
						.then((value) => {
							form_fin_partie.nbQuestionsRepondues.value = 100;
							form_fin_partie.submit();
						});
					}
			function pauseEscapeGame()
				{
					var form_pause = document.getElementById("pause")

					swal({
						title: "PAUSE",
						text: "Voulez vous vraiment mettre en pause votre escape game ?",
						icon: "warning",
						buttons: true,
						dangerMode: true,
						})
						.then((willDelete) => {
						if (willDelete) {
							form_pause.timer.value = Object.values(timer.getTimeValues())[2];
							form_pause.progression.value = document.getElementById("progressBarre").value;
							form_pause.submit();
						}
						});
				}
			
			</script>
			</figure>
			
		</div>
		<a href="/groupe/{{id}}/session/{{sessionid}}/escapegame/{{escapegameid}}/salle/{{salleid}}/changer_salle">
			<h2 class="title is-4" id="salle">
			</h2>
		</a>
		<script>
			if ( {{ftotal.total}} == 0)
			{
				document.getElementById("salle").innerHTML = "Changez de salle";
			}
		</script>
	</section>
</head>


{% endblock %}