{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Statistiques
</h1>
<h2 class="subtitle">
  {{name}}
</h2>
<hr>
{% for session in sessions %}
{% for groupe in groupes %}
{% for relier in reliers %}
{% if ((relier['session_id'] == session['id']) and (relier['groupe_id'] == groupe['id'])) %}
<a id="open-modal" class ="open-modal{{session['id']}}" href="">
<div id="box" class="box">
	<article class="media">
	<div class="media-content">
    <div class="content">
      <p>
        <strong>Session {{session['id']}}</strong> <small>@{{ groupe['nom'] }}</small>
        <br>
		Plus d'informations
      </p>
    </div>
	</div>
	</article>
</div>
</a>
<br>

<script>
document.querySelector("a.open-modal{{session['id']}}").addEventListener('click', function(event) {
  event.preventDefault();
  var modal = document.querySelector("#modal{{session['id']}}");  // assuming you have only 1
  var html = document.querySelector('html');
  modal.classList.add('is-active');
  html.classList.add('is-clipped');

  modal.querySelector("#modal-background{{session['id']}}").addEventListener('click', function(e) {
    e.preventDefault();
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');
  });
 
  modal.querySelector("#modal-close{{session['id']}}").addEventListener('click', function(e) {
    e.preventDefault();
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');
  });
});
</script>

<div class="modal" id="modal{{session['id']}}">
  <div class="modal-background" id="modal-background{{session['id']}}"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Information</p>
      <button class="delete" id="modal-close{{session['id']}}"></button>
    </header>
    <section class="modal-card-body">
      <aside class="menu">
	    <p class="menu-label">
			Général
		</p>
		<ul class="menu-list">
			<li>
				<a class="is-active">Notation</a>
				<ul>
					<li><a class="has-text-black has-text-left">Note : {{session['note']}}/20</a></li>
					<li><a class="has-text-black has-text-left">Bonne réponse : {{session['nb_questions_juste']}}/{{session['nb_questions']}}</a></li>
					<li><a class="has-text-black has-text-left">Progression : {{session['progression']}}%</a></li>
				</ul>
				
			</li>
		</ul>
		<ul class="menu-list">
			<li>
				<a class="is-active">Annexe</a>
				<ul>
					<li><a class="has-text-black has-text-left">Date de début : {{session['dateDebut'].strftime('%B %d, %Y %I:%M:%S %Z')}}</a></li>
					<li><a class="has-text-black has-text-left">Date de fin : {{session['dateFin'].strftime('%B %d, %Y %I:%M:%S %Z')}}</a></li>
					<li><a class="has-text-black has-text-left">Temps restant : {{session['tempsRestant']}} minutes</a></li>
				</ul>
				
			</li>
		</ul>
	  </aside>
    </section>
  </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endblock %}